<mat-grid-list class="toolbox" cols="4" rowHeight="48">
  <mat-grid-tile>
    <button mat-icon-button matTooltip="Undo" matTooltipShowDelay="1000" (click)="undo()" [disabled]="!canUndo">
      <mat-icon>undo</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button matTooltip="Redo" matTooltipShowDelay="1000" (click)="redo()" [disabled]="!canRedo">
      <mat-icon>redo</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button matTooltip="Zoom in" matTooltipShowDelay="1000" (click)="zoomIn()">
      <mat-icon>zoom_in</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button matTooltip="Zoom out" matTooltipShowDelay="1000" (click)="zoomOut()">
      <mat-icon>zoom_out</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button matTooltip="Shift left" matTooltipShowDelay="1000" (click)="shiftLeft()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button matTooltip="Shift right" matTooltipShowDelay="1000" (click)="shiftRight()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button matTooltip="Shift up" matTooltipShowDelay="1000" (click)="shiftUp()">
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button matTooltip="Shift down" matTooltipShowDelay="1000" (click)="shiftDown()">
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button matTooltip="Fill all" matTooltipShowDelay="1000" (click)="fill()">
      <fa-icon [icon]="fillIcon"></fa-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button matTooltip="Clear all" matTooltipShowDelay="1000" (click)="clear()">
      <fa-icon [icon]="clearIcon"></fa-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="2">
    <mat-button-toggle-group name="tool" aria-label="Tool" [value]="tool" (change)="changeTool($event)">
      <mat-button-toggle [value]="toolEnum.DRAW" matTooltip="Draw" matTooltipShowDelay="1000"><fa-icon [icon]="drawIcon"></fa-icon></mat-button-toggle>
      <mat-button-toggle [value]="toolEnum.FLOOD_FILL" matTooltip="Flood fill" matTooltipShowDelay="1000"><fa-icon [icon]="floodFillIcon"></fa-icon></mat-button-toggle>
      <mat-button-toggle [value]="toolEnum.LINE" matTooltip="Line" matTooltipShowDelay="1000"><fa-icon [icon]="lineIcon"></fa-icon></mat-button-toggle>
      <mat-button-toggle [value]="toolEnum.CLONE" matTooltip="Clone area" matTooltipShowDelay="1000"><fa-icon [icon]="cloneIcon"></fa-icon></mat-button-toggle>
    </mat-button-toggle-group>
  </mat-grid-tile>
</mat-grid-list>
