<div class="app">
  <div id="corner"></div>
  <div id="menu">
    <app-menu
      (newClicked)="new()"
      (openClicked)="open()"
      (saveClicked)="save()"
      (importPNGClicked)="importPNG()"
      (exportPNGClicked)="exportPNG()"
      (exportBinaryClicked)="exportBinary()"
      (exportAssemblyClicked)="exportAssembly($event)"
      (exportHexClicked)="exportHex()"
      [(showGridLines)]="showGridLines"
      (aboutClicked)="about()"
    ></app-menu>
  </div>
  <div id="pixel-grid">
      <app-pixel-grid
        [imageNumber]="imageNumber"
        [grid]="grid"
        [pixelScaleX]="pixelScaleX"
        [pixelScaleY]="pixelScaleY"
        [zoom]="zoom"
        [palette]="palette"
        [tool]="tool"
        [backColorIndex]="backColorIndex"
        [foreColorIndex]="foreColorIndex"
        [showGridLines]="showGridLines"
      ></app-pixel-grid>
  </div>
  <div id="side-panel">
    <app-toolbox
      [tool]="tool"
      (zoomInClicked)="zoomIn()"
      (zoomOutClicked)="zoomOut()"
      (shiftLeftClicked)="shiftLeft()"
      (shiftRightClicked)="shiftRight()"
      (shiftUpClicked)="shiftUp()"
      (shiftDownClicked)="shiftDown()"
      (fillClicked)="fill()"
      (clearClicked)="clear()"
      (flipHorizontalClicked)="flipHorizontal()"
      (flipVerticalClicked)="flipVertical()"
      (toolChanged)="toolChanged($event)"
    ></app-toolbox>
    <div id="palette">
      <app-palette
        [palette]="palette"
        [backColorIndex]="backColorIndex"
        [foreColorIndex]="foreColorIndex"
        (backColorChanged)="setBackColorIndex($event)"
        (foreColorChanged)="setForeColorIndex($event)"
      ></app-palette>
    </div>
    <div id="mini-view">
      <app-mini-view
        [imageNumber]="imageNumber"
        [grid]="grid"
        [pixelScaleX]="pixelScaleX"
        [pixelScaleY]="pixelScaleY"
        [palette]="palette"
      ></app-mini-view>
    </div>
  </div>
</div>
