.app {
  display: grid;
  --menuHeight: 36px;
  --pixelGridHeight: calc(100vh - var(--menuHeight) - 8px);
  grid-template-columns: var(--pixelGridHeight) 160px 1fr;
  grid-template-rows: var(--menuHeight) calc(var(--pixelGridHeight)) 1fr;
  grid-template-areas:
    "menu menu"
    "pixel-grid toolbox";
  grid-row-gap: 0;
  grid-column-gap: 8px;
}

#menu {
  grid-area: menu;
}

#pixel-grid {
  grid-area: pixel-grid;
  height: 100%;
}

#toolbox {
  grid-area: toolbox;
}
