<div class="app">
  <div id="menu">
    <app-menu></app-menu>
  </div>
  <div id="pixel-grid">
      <app-pixel-grid
        [grid]="grid"
        [pixelScaleX]="pixelScaleX"
        [pixelScaleY]="pixelScaleY"
        [zoom]="zoom"
        [palette]="palette"
        [tool]="tool"
        [backColorIndex]="backColorIndex"
        [foreColorIndex]="foreColorIndex"
      ></app-pixel-grid>
  </div>
  <div id="side-panel">
    <app-toolbox
      [tool]="tool"
      [palette]="palette"
      [foreColorIndex]="foreColorIndex"
      [backColorIndex]="backColorIndex"
      (zoomInClicked)="zoomIn()"
      (zoomOutClicked)="zoomOut()"
      (shiftLeftClicked)="shiftLeft()"
      (shiftRightClicked)="shiftRight()"
      (shiftUpClicked)="shiftUp()"
      (shiftDownClicked)="shiftDown()"
      (fillClicked)="fill()"
      (clearClicked)="clear()"
      (toolChanged)="toolChanged($event)"
      (foreColorChanged)="setForeColorIndex($event)"
      (backColorChanged)="setBackColorIndex($event)"
    ></app-toolbox>
    <div id="mini-view">
      <app-mini-view
        [grid]="grid"
        [palette]="palette"
      ></app-mini-view>
    </div>
  </div>
</div>
