<div class="app">
  <div id="toolbar">
    <mat-toolbar>
      <app-menu
        [attributeMode]="grid.attributeMode"
        (newClicked)="new()"
        (openClicked)="open()"
        (saveClicked)="save()"
        (propertiesClicked)="properties()"
        (importPNGClicked)="importPNG()"
        (exportPNGClicked)="exportPNG()"
        (exportBinaryClicked)="exportBinary($event)"
        (exportAssemblyClicked)="exportAssembly($event)"
        (exportMonochromeLinearAssemblyClicked)="exportMonochromeLinearAssembly()"
        (exportHexClicked)="exportHex()"
        [(showGridLines)]="showGridLines"
        [(transparentColor0)]="transparentColor0"
        (aboutClicked)="about()"
      ></app-menu>
      <span id="toolbar-spacer"></span>
      <app-toolbox
        [tool]="tool"
        (zoomInClicked)="zoomIn()"
        (zoomOutClicked)="zoomOut()"
        (shiftLeftClicked)="shiftLeft()"
        (shiftRightClicked)="shiftRight()"
        (shiftUpClicked)="shiftUp()"
        (shiftDownClicked)="shiftDown()"
        (fillClicked)="fill()"
        (clearClicked)="clear()"
        (flipHorizontalClicked)="flipHorizontal()"
        (flipVerticalClicked)="flipVertical()"
        (toolChanged)="toolChanged($event)"
      ></app-toolbox>
    </mat-toolbar>
  </div>
  <div id="side-panel">
    <div id="palette">
      <app-palette
        [palette]="palette"
        [backColorIndex]="backColorIndex"
        [foreColorIndex]="foreColorIndex"
        (backColorChanged)="setBackColorIndex($event)"
        (foreColorChanged)="setForeColorIndex($event)"
        (paletteChanged)="redrawGrid()"
      ></app-palette>
    </div>
    <div id="mini-view">
      <app-mini-view
        [imageNumber]="imageNumber"
        [grid]="grid"
        [pixelScaleX]="pixelScaleX"
        [pixelScaleY]="pixelScaleY"
        [palette]="palette"
        [transparentColor0]="transparentColor0"
        [backColorIndex]="backColorIndex"
      ></app-mini-view>
    </div>
  </div>
  <div id="pixel-grid">
    <app-pixel-grid
      [imageNumber]="imageNumber"
      [grid]="grid"
      [pixelScaleX]="pixelScaleX"
      [pixelScaleY]="pixelScaleY"
      [zoom]="zoom"
      [palette]="palette"
      [tool]="tool"
      [backColorIndex]="backColorIndex"
      [foreColorIndex]="foreColorIndex"
      [showGridLines]="showGridLines"
      [transparentColor0]="transparentColor0"
      (cursorPositionChanged)="cursorPositionChanged($event)"
    ></app-pixel-grid>
    <div id="bottom-corner"></div>
    <app-status-bar id="status-bar" [cursorPosition]="cursorPosition"></app-status-bar>
  </div>
</div>
