.app {
  display: grid;
  --toolbarHeight: 72px;
  --statusBarHeight: 18px;
  --pixelGridHeight: calc(100vh - var(--toolbarHeight) - var(--statusBarHeight) - 8px);
  grid-template-columns: 1fr 164px;
  grid-template-rows: var(--toolbarHeight) calc(var(--pixelGridHeight)) var(--statusBarHeight) 1fr;
  grid-template-areas:
    "toolbar toolbar"
    "pixel-grid side-panel"
    "bottom-corner status-bar";
  grid-row-gap: 0px;
  grid-column-gap: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

#menu {
  grid-area: menu;
}

#toolbar {
  grid-area: toolbar;
}

#toolbar-spacer {
  margin-left: 32px;
}

#pixel-grid {
  grid-area: pixel-grid;
  height: 100%;
}

#palette {
  margin-bottom: 8px;
}

#side-panel {
  grid-area: side-panel;
}

#bottom-corner {
  grid-area: top-corner;
}

#status-bar {
  grid-area: top-corner;
}
