<h1 mat-dialog-title>New Project</h1>
<div mat-dialog-content>
  <mat-grid-list cols="3" rowHeight="64">
    <mat-grid-tile>
      <p>Name</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-form-field>
        <input type="text" matInput [(ngModel)]="data.filename">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <p>Image size</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Width</mat-label>
        <input type="number" min="1" max="256" matInput [(ngModel)]="data.width">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Height</mat-label>
        <input type="number" min="1" max="256" matInput [(ngModel)]="data.height">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <p>Pixel size</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Width</mat-label>
        <mat-select [(ngModel)]="data.pixelScaleX">
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="4">4</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>height</mat-label>
        <mat-select [(ngModel)]="data.pixelScaleY">
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="4">4</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <p>Color attribute mode</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-form-field>
        <mat-label>Attribute mode</mat-label>
        <mat-select [(ngModel)]="data.attributeMode">
          <mat-option [value]="attributeMode.ONE_X_ONE">No restrictions</mat-option>
          <mat-option [value]="attributeMode.EIGHT_X_ONE">2 colors per 8x1 pixels</mat-option>
          <mat-option [value]="attributeMode.EIGHT_X_EIGHT">2 colors per 8x8 pixels</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="cancel()">Cancel</button>
  <button mat-stroked-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
