<button mat-button [matMenuTriggerFor]="fileMenu">File</button>
<button mat-button [matMenuTriggerFor]="importMenu">Import</button>
<button mat-button [matMenuTriggerFor]="exportMenu">Export</button>
<button mat-button [matMenuTriggerFor]="helpMenu">Help</button>
<mat-menu #fileMenu="matMenu">
  <button mat-menu-item (click)="new()">New</button>
  <button mat-menu-item (click)="open()">Open</button>
  <button mat-menu-item (click)="save()">Save</button>
  <button mat-menu-item (click)="saveAs()">Save as</button>
</mat-menu>
<mat-menu #importMenu="matMenu">
  <button mat-menu-item (click)="import()">PNG</button>
</mat-menu>
<mat-menu #exportMenu="matMenu">
  <button mat-menu-item (click)="export()">PNG</button>
</mat-menu>
<mat-menu #helpMenu="matMenu">
  <button mat-menu-item (click)="about()">About</button>
</mat-menu>


