<button mat-button [matMenuTriggerFor]="fileMenu">File</button>
<button mat-button [matMenuTriggerFor]="importMenu">Import</button>
<button mat-button [matMenuTriggerFor]="exportMenu">Export</button>
<button mat-button [matMenuTriggerFor]="optionsMenu">Options</button>
<button mat-button [matMenuTriggerFor]="helpMenu">Help</button>
<mat-menu #fileMenu="matMenu">
  <button mat-menu-item (click)="new()">New</button>
  <button mat-menu-item (click)="open()">Open</button>
  <button mat-menu-item (click)="save()">Save as</button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="properties()">Properties</button>
</mat-menu>
<mat-menu #importMenu="matMenu">
  <button mat-menu-item (click)="importPNG()">PNG file</button>
</mat-menu>
<mat-menu #exportMenu="matMenu">
  <button mat-menu-item (click)="exportPNG()">PNG file</button>
  <button mat-menu-item [matMenuTriggerFor]="exportBinaryMenu">Binary file</button>
  <button mat-menu-item [matMenuTriggerFor]="exportAssemblyMenu">Assembly data</button>
  <button mat-menu-item (click)="exportHex()">Hex string (1 bpp)</button>
</mat-menu>
<mat-menu #optionsMenu="matMenu">
  <mat-checkbox class="mat-menu-item" [(ngModel)]="showGridLines" (change)="toggleGridLines()">Show grid lines</mat-checkbox>
  <mat-checkbox class="mat-menu-item" [(ngModel)]="transparentColor0" (change)="toggleTransparentColor0()">Transparent color 0</mat-checkbox>
</mat-menu>
<mat-menu #helpMenu="matMenu">
  <button mat-menu-item (click)="about()">About</button>
</mat-menu>

<mat-menu #exportBinaryMenu="matMenu">
  <button mat-menu-item [disabled]="isAttributeMode1x1()" (click)="exportBinary(false)">By character</button>
  <button mat-menu-item [disabled]="!isAttributeMode1x1()" (click)="exportBinary(false)">By row</button>
  <button mat-menu-item [disabled]="!isAttributeMode1x1()" (click)="exportBinary(true)">By column</button>
  <button mat-menu-item [disabled]="!isAttributeMode1x1()" (click)="exportBinary(true, '8_BPP')">By column 8 bbp</button>
  <button mat-menu-item [disabled]="!isAttributeMode1x1()" (click)="exportBinary(true, '16_BPP')">By column 16 bbp</button>
</mat-menu>

<mat-menu #exportAssemblyMenu="matMenu">
  <button mat-menu-item (click)="exportAssembly(false)">By row</button>
  <button mat-menu-item (click)="exportAssembly(true)">By column</button>
  <button mat-menu-item [disabled]="!isAttributeMode1x1()" (click)="exportAssembly(true, '8_BPP')">By column 8 bbp</button>
  <button mat-menu-item [disabled]="!isAttributeMode1x1()" (click)="exportAssembly(true, '16_BPP')">By column 16 bbp</button>
  <button mat-menu-item (click)="exportMonochromeLinearAssembly()">Monochrome linear</button>
</mat-menu>
