<button mat-button [matMenuTriggerFor]="fileMenu">File</button>
<button mat-button [matMenuTriggerFor]="importMenu">Import</button>
<button mat-button [matMenuTriggerFor]="exportMenu">Export</button>
<button mat-button [matMenuTriggerFor]="optionsMenu">Options</button>
<button mat-button [matMenuTriggerFor]="helpMenu">Help</button>
<mat-menu #fileMenu="matMenu">
  <button mat-menu-item (click)="new()">New</button>
  <button mat-menu-item (click)="open()">Open</button>
  <button mat-menu-item (click)="save()">Save as</button>
</mat-menu>
<mat-menu #importMenu="matMenu">
  <button mat-menu-item (click)="importPNG()">PNG file</button>
</mat-menu>
<mat-menu #exportMenu="matMenu">
  <button mat-menu-item (click)="exportPNG()">PNG file</button>
  <button mat-menu-item (click)="exportBinary()">Binary file</button>
  <button mat-menu-item [matMenuTriggerFor]="exportAssemblyMenu">Assembly data</button>
</mat-menu>
<mat-menu #optionsMenu="matMenu">
  <mat-checkbox class="mat-menu-item" [(ngModel)]="showGridLines" (change)="toggleGridLines()">Show grid lines</mat-checkbox>
</mat-menu>
<mat-menu #helpMenu="matMenu">
  <button mat-menu-item (click)="about()">About</button>
</mat-menu>

<mat-menu #exportAssemblyMenu="matMenu">
  <button mat-menu-item (click)="exportAssembly(false, false)">By row</button>
  <button mat-menu-item (click)="exportAssembly(true, false)">By column</button>
  <button mat-menu-item (click)="exportAssembly(true, true)">By column (unpacked)</button>
</mat-menu>
