<h1 mat-dialog-title>Open {{data.fileType}}</h1>
<div mat-dialog-content>
  <button mat-stroked-button color="primary" (click)="fileInputDisk.click()" cdkFocusInitial>
    <fa-icon [icon]="openFileIcon"></fa-icon> Open<input #fileInputDisk type="file" accept="{{data.extension}}" (change)="openFile(fileInputDisk)" [hidden]="true"/>
  </button>
  <button mat-stroked-button id="fileName" disabled>{{getFileName()}}</button>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="cancel()">Cancel</button>
  <button mat-stroked-button [mat-dialog-close]="data" [disabled]="!data.file">Ok</button>
</div>
